pre.highlight.prettyprint {
	background:white;
	overflow-x:scroll;
	white-space:pre !important;
	max-height:100% !important;
	width:95%;
	padding-left:10px;
}

.pre.highlight.prettyprint ol.linenums {
	margin-left:5px;
	list-style:outside decimal;
}

pre.highlight.prettyprint li {
	margin:0;
	background:0;
	font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
	line-height:1.1em;
	font-size:1em;
	border-left:3px solid #6CE26C;
	padding-left:8px;
}

pre.highlight.prettyprint .tag {
	font-weight:bold;
	color:#006699;
}

pre.highlight.prettyprint .atn, pre.highlight.prettyprint .pun {
	color:black;
}

pre.highlight.prettyprint .atv {
	color:blue;
}